@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    /* font-family: 'Alfa Slab One', cursive; */
    /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
}
body{
    font-size: 14px;
    line-height: 1.42;
    color:#333333;
    background-color: #f0f0f0;
}
.container{
    display: flex;
}
#top{
    background-color: #555555;
    padding: 10px 0px;
}
.offer{
    color: #fff;
    margin-right: 0px;
}
/* #btnWelcome{
    text-transform: uppercase;
} */
@media(max-width:756px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width:756px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #fff;
    text-decoration: none;
}
#top ul.menu{
    padding-top:5px;
    margin: 0;
    text-align: right;
    list-style: none;
    font-size: 12px;
}
@media(max-width:756px){
    #top ul.menu{
        text-align: center;
    }
}
/* #top ul.menu{
    text-align: center;
} */
#top ul.menu>li{
    display: inline-flex;
}
/* #top ul.menu>li a{
    color:#eeeeee;
} */
#top ul.menu>li +li::before{
    content: "|\00a0";
    padding:0px 5px;
    color:#f7f7f7;
}
.navbar{
    background-color: white;
}
.navbar .collapse>ul.navbar-nav>li>a{
    font-size: 14px;
    font-weight: 600;
    color: #dd7a38d3;
}
.navbar .collapse>ul.navbar-nav>li>a:hover{
    background:#fd8700;
    color: white;
}
#slider{
    margin-bottom: 40px;
}
.box{
    background-color: white;
    margin: 0 0 30px;
    border: 1px solid #e6e6e6;
    padding: 20px;
    box-shadow:0 1px 5px #333333;
}
.box a{
    color:#fd8700;
    font-weight:500;
}
.box h3,p{
    text-align: center;
}
.box a:hover{
    background-color:#fd8700;
    color: white;
    font-weight:500;
    text-decoration: none;
}
#dealTag{
    text-transform: uppercase;
    text-align: center;
    color: #fd8700;
    font-weight: 100px;
    font-size: 36px;
    padding: 15px;
}

.card-title a,h5{
    color: #fd8700;
    text-align: center;
    font-weight: 600;
}
.card-text{
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

/*  Breadcrumb Style*/
#breadcrumbHomeLink a{
    color: #fd8700;
    text-decoration: none;
}
.breadcrumb{
    padding: 8px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.breadcrumb li{
    content:">\00a0";
    color:#fd8700;
}
@media(max-width:768px) {
    .breadcrumb{
        padding: 8px 0px;
    }
    #breadcrumbHomeLink{
        margin-left: 10px;
    }
}
/* Breadcrumb ends here */

/* Sidebar Starts here */
.list-group .list-group-item{
    margin-left: 0px;
}
/* Sidebar Ends here */

/* Product Categories goes here */
#sidebarProCat{
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}
#proCatList{
    margin-bottom: 20px;
}
#prodDetails{
    padding: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.col-form-label{
    text-align: right;
    font-weight: 600;
}
#prodName{
    padding: 10px;
    color: #fd8700;
}
#regPrice{
    text-decoration:line-through;
}
#regPrice,#salePrice,#regPriceTitle{
    color: #fd8700;
}
.list-group .list-group-item a{
    font-weight: 600;
    text-decoration: none;
    color: #fd8700;
}
/* Product Categories Ends here */

/* Shop Designing Starts here */
#shopLineHeading{
    text-align: justify;
}
@media (max-width:768px) {
    #centerResponsive{
        width: 70%;
        margin: 0 auto;
    }
}
@media (max-width:550px) {
    #centerResponsive{
        width: 95%;
        margin: 0 auto;
    }
}
/* Shop Desigining Ends here  */

/* details page style starts here */
#carouselExampleControls{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}
#productSz,#productQty,#proDet,.img-thumbnail,#proMayLike{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

/* details page style ends here */

/* Cart Styling Starts here*/
#cartTitle{
    color:#fd8700;
}
.table tbody tr img{
    width: 50px;
}

.table tbody tr input{
    width: 40px;
    text-align: right;
}

.table thead tr th{
    color: #fd8700;
}

.table tbody tr td{
    vertical-align: middle;
}

.table tfoot{
    font-size: 18px;
}
.table tfoot th{
    color: #fd8700;
}

.box .box-footer{
    background: #e7e7e7;
    padding: 20px;
    vertical-align: middle;
}

.box h3{
    color: #fd8700;
    background: #e7e7e7;
    padding: 20px;
    vertical-align: middle;
}

#orderSummary .table tbody tr th{
    /* padding: 10px; */
    color: #fd8700;
    vertical-align: middle;
    background: #e7e7e7;
    padding: 20px;
}
/* Cart Styling Ends Here */

/* Contact us Form Styling goes here */
#sendQuery{
    color:#fd8700;
}
.card .card-header h1{
    color: #fd8700;
}
.card .card-body form label{
    font-size: 18px;
    font-weight: 500;
    color: #fd8700;
}
/* Contact us form styling ends here */

/* Registration Form Styling goes here */
#regForm{
    color:#fd8700;
}

/* Registration Form styling ends here */

/* My Account sidebar style starts here */
#sideBarImg{
    height:18rem;
    padding:10px;
}
/* My Account sidebar style ends here */

/* Footer Style */
#footer{
    background: #e0e0e0;
    padding: 20px 0;
}
#footer ul{
    padding-left: 0;
    list-style: none;
}
#footer ul a{
    color: #fd8700;
}
#footer .social{
    text-align: left;
}
#footer .social a{
    margin: 0 10px 0 0;
    color: #fd8700;
    display: inline-block;
    width: 30px;
    height:30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    transform: all 0.2s ease-out;
    vertical-align: bottom;
    background-color: #555555;

}
/* Copyright Style */
#copyright{
    background:white;
    color: #fd8700;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
}

#copyright p{
    margin: 0;
}
